@font-face {
    font-family: 'Assox';
    src: url('assox.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fff6f2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

.content {
    background-color: #fff6f2;
    padding: 20px;
    border: 2px solid #5c3d28;
    text-align: left;
    color: #5c3d28;
    width: 90%;
    max-width: 500px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Assox', sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 0;
}

.tour {
    font-size: 1em;
    color: #5c3d28;
    text-align: center;
    margin-top: 0;
}

hr {
    border: none;
    border-top: 1px solid #5c3d28;
    margin: 20px 0;
}

.event {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.location, .date {
    font-size: 1em;
}

.link {
    color: #ff4d8f;
    text-decoration: underline;
}

.link:hover {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    .tour, .location, .date {
        font-size: 0.9em;
    }

    .event {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .date {
        margin-top: 5px;
    }
}
